/*
- Collects all global stylesheets
- CSS Reset
- Utility classes:
    - .visually-hidden (accessibility)
    - .dev-placeholder (for testing layouts)
*/

/* #region ========================= IMPORTS ===================================*/
/* #region ---------------------- 3rd-Party Styles -----------------------------*/
@import "@arcgis/core/assets/esri/themes/light/main.css";
@import "@trussworks/react-uswds/lib/uswds.css";
@import "@trussworks/react-uswds/lib/index.css";
@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/700.css";

/* #endregion ------------------- 3rd-Party Styles -----------------------------*/

/* #region ---------------------- Custom Styles --------------------------------*/
@import url("./palette.css");
@import url("./sizing.css");
/* #endregion ------------------- Custom Styles --------------------------------*/
/* #endregion ====================== IMPORTS ===================================*/

/* #region ====================== EXPORTED RULES ===============================*/
/* #region ------------------------ CSS Reset ----------------------------------*/
*,
*::after,
*:not([class^="esri-icon-"], [class*=" esri-icon-"])::before {
  /* --- Sizing / Box-Model ---
    Note: not setting outline to 0 because browser defaults for focus rings are 
    important for accessibility
    */
  margin: 0;
  padding: 0;
  border: 0;

  /*Include margin, padding, border in calculation of width & height*/
  box-sizing: border-box;

  /* --- Decorative - Typography --- */
  text-align: left;
  font-weight: 400;
  font-style: normal;
}


.esri-popup__header {
  display: none;
}


.action-bar-container {
  display: none;
}

[slot="action-bar"] {
  display: none;
}

.header-container .header-container--border-end {
  display: none;
}

.header {
 display: none;
}

.header-container--border-end {
  display: none;
}

.esri-popup__content {
  overflow: visible;
}

.esri-popup__main-container {
  width: var(--min-card-width);
  height: fit-content;
  max-height:none !important;

  @media screen and (max-width: 42rem) {
    width: auto;
  }
}

.esri-popup {
  * {
    margin: 0rem !important;
    font-family: "Lato", sans-serif !important;
  }}

html,
body,
#root {

  
  /* --- Sizing / Box-Model --- 
    Need to define width, height in units (not %) on highest-level elements 
    so that all other elements can inherit sizes & use percentages
    */

  width: 100vw;
  overflow-x: hidden;
  /* --vh: see ./style-utils */
  height: calc(var(--vh, 1vh) * 100);

  /* --- Decorative - Typography ---
    Properties to prevent unnecessary tracking, render sharp text
    */
  font-family: "Open Sans", sans-serif;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;

  scroll-behavior: smooth;
}

/* #endregion --------------------- CSS Reset ----------------------------------*/

/* #region ---------------------- Utility Classes ------------------------------*/
/*
Use for testing layouts, like so:
<div className="dev-placeholder" style={{ gridArea: 'map' }}>map</div>
*/
.dev-placeholder {
  /* --- Sizing / Box-Model --- */
  height: 100%;
  width: 100%;

  /* --- Decorative --- */
  background-color: #c6c6c6;

  /* --- Layout - Center label --- */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Accessibility - Use to hide headings, descriptive text, etc. for SR users
 */
.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* esri component and widget overrides*/
.esri-search {
  width: 100%;
  margin-left: 4px;
}

.esri-input[type="text"] {
  height: min-content;
}

.esri-search__suggestions-menu {
  min-width: 20rem;
}

.esri-search__clear-button {
  display: none;
}

.esri-search__submit-button {
  display: none;
}

/* radix-ui style and overrides */
.PopoverMenuContent {
  border-radius: 4px;
  padding: var(--unit) calc(var(--unit) * 1.5);
  width: 280px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--light);
  background-color: white;
  box-shadow: 0px 0px 38px -10px rgba(18, 52, 85, 0.45),
    0px 10px 20px -15px rgba(18, 49, 79, 0.45);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  position: relative;
  z-index: 2;
}

.PopoverMenuContent:focus {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px, 0 0 0 2px var(--violet-7);
}

.PopoverMenuContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.PopoverMenuContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.PopoverMenuContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.PopoverMenuContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.PopoverMenuArrow {
  fill: white;
}

.PopoverMenuClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--text);
  background-color: white;
}

.PopoverMenuClose:hover {
  background-color: var(--light);
  cursor: pointer;
}

/* .PopOverFilterCount {
  position: absolute;
  top: -44%;
  right: -8%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  font-size: 14px;
  background: #db3030;
  color: white;
} */

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.CheckboxRoot {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light);
}

.CheckboxRoot:hover {
  border: 2px solid var(--brand);
}

.CheckboxIndicator {
  color: var(--brand);
}

/* common styles (that are not styled components) */

.hhs-primary-button {
  border: var(--border) solid var(--brand);
  display: flex;
  align-items: center;
  padding: calc(var(--unit) * 0.75) calc(var(--unit) * 0.75);
  gap: calc(var(--unit) * 0.25);
  font-size: var(--text-0);
  font-weight: 600 !important;
  line-height: 125%;
  color: white;
  border-radius: var(--radius);
  background: var(--brand);
  text-decoration: none;
}

.hhs-primary-button:hover {
  background: var(--accent);
  cursor: pointer;
}

.hhs-secondary-button {
  border: var(--border) solid white;
  display: flex;
  align-items: center;
  padding: calc(var(--unit) * 0.75) calc(var(--unit) * 0.75);
  gap: calc(var(--unit) * 0.25);
  font-size: var(--text-0);
  font-weight: 600 !important;
  line-height: 125%;
  color: white;
  border-radius: var(--radius);
  background: var(--accent);
  text-decoration: none;
}

.hhs-secondary-button:hover {
  background: var(--brand);
  cursor: pointer;
}

.hhs-outline-button {
  border: var(--border) solid var(--brand);
  display: flex;
  align-items: center;
  padding: calc(var(--unit) * 0.75) calc(var(--unit) * 0.75);
  gap: calc(var(--unit) * 0.25);
  font-size: var(--text-0);
  font-weight: 600 !important;
  line-height: 125%;
  color: var(--brand);
  border-radius: var(--radius);
  background: white;
  text-decoration: none;
}

.hhs-outline-button:hover {
  color: white;
  background: var(--accent);
  cursor: pointer;
}

.hhs-outline-button-landing-container {
  flex: 1 0 auto;
  width: auto;
  max-width: 20rem;
}

.hhs-outline-button-landing-container > div > .DropdownMenuContent {
  min-width: 10rem;
}

.hhs-outline-button-landing {
  justify-content: space-between;
  width: 100%;
}

.hhs-clear-button {
  border: none;
  display: flex;
  align-items: center;
  padding: calc(var(--unit) * 0.75) calc(var(--unit) * 0.75);
  gap: calc(var(--unit) * 0.25);
  font-size: var(--text-0);
  font-weight: 600 !important;
  line-height: 125%;
  color: var(--brand);
  border-radius: var(--radius);
  background: none;
  text-decoration: none;
}

.hhs-clear-button:hover {
  color: white;
  background: var(--accent);
  cursor: pointer;
}
/* TODO: Lillie - this is a temporary fix */
ul { list-style-type: none; }
/* #endregion ------------------- Utility Classes ------------------------------*/

/* #endregion =================== EXPORTED RULES ===============================*/
